<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/home.css">
  </head>
  <body>
    <h1>Landit</h1>
    <img
      src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
      alt=""
    />
    <div class="aboutus">
      <h2>ABOUT US</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque minus,
        delectus reiciendis unde iure corrupti omnis excepturi voluptatum
        nostrum, ut deserunt tenetur perspiciatis laboriosam fugiat ratione
        porro laborum nulla sit veniam dolorum. Illum at dolorem nihil odio
        molestiae voluptatum totam corporis eos, est maiores quasi explicabo
        fugiat ab error suscipit provident sint excepturi voluptates eum.
        Consectetur praesentium aspernatur dolorem provident temporibus nihil
        distinctio culpa mollitia, quibusdam excepturi totam illum natus?
        Praesentium repellendus ducimus dolorem. Temporibus, id. Minima
        praesentium nesciunt ut ipsam laboriosam quas mollitia ipsum, fuga iste
        nobis ea blanditiis aliquam pariatur neque voluptates! Expedita nam quas
        temporibus, qui reiciendis quae enim iste facere architecto rem,
        accusamus sint quasi fugit maiores at tempora, veritatis laudantium
        minima corporis? Pariatur nobis enim, laborum dolorum fugit aperiam
        laboriosam magnam repudiandae maiores nihil, doloremque minus possimus
        commodi voluptates quo delectus id a! Tenetur modi vel, officiis numquam
        cupiditate, quasi, atque possimus quisquam a nesciunt commodi
        exercitationem vero. Optio alias vero labore atque ducimus aspernatur
        sapiente, fugit animi architecto ipsum. Possimus doloremque beatae sunt
        error iusto blanditiis architecto fugit ab nemo repellat adipisci
        consectetur, illo, ut molestiae ducimus mollitia quaerat officia
        similique numquam facere, eveniet doloribus neque quo fugiat. Dolore
        debitis illo architecto laudantium earum?
      </p>
    </div class="job-openings">
    <h3>Job openings</h3>
    <div>CARD1</div>
    <div>CARD2</div>
    <div>CARD3</div>
  </body>
</html>
